:root {
    --firey: rgb(17 17 17);
    --bright: rgb(148, 216, 169);
    --card-header: rgb(205 231 186);
}

* {
    margin: 0;
}

body{
    background-color: var(--firey);
}

/************ header styling ************/
h1 {
    color: #c1c9c4;
    font-size: 2.25rem;
    padding-left: 1%;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: var(--firey);
}

header ul li {
    color: var(--bright);
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    padding-left: 2%;
    padding-right: 2%;
    white-space: nowrap;
}

ul li a {
    text-decoration: none;
    color:var(--bright);
}

li a:hover {
    background-color: var(--firey);
    color: rgb(194, 255, 13);
}

header img {
    height: 20vh;
    width: 100%;
}

/************ main section layout ************/
main {
    background-color: #ffffff;
}
.section-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3%;
}

.right-side-col {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.card-body {
    display: flex;
    flex-direction: row;
}

.card-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    background: rgb(141 141 141);
    border-bottom-right-radius: 10px;
}

.mini-card-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    background: rgb(141 141 141);
    border-bottom-right-radius: 10px;
}

.card-summary p {
    line-height: 1;
    padding: 2%;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 8px;
}

.mini-card-summary p {
    line-height: 1;
    padding: 2%;
    color: #ffffff;
    font-size: 13px;
    margin: 4px;
}

h2 {
    font-size: 2rem;
    white-space: nowrap;
    padding-left: 12%;
    padding-bottom: 2%;
}

h3 {
    font-size: 1.75rem;
    padding: 2%;
    white-space: nowrap;
}

h4 {
    font-size: 1.25em;
    padding: 2%;
    white-space: nowrap;
}

#avatar {
    float: left;
    border-radius: 10px;
    height: 8rem;
    width: 8rem;
    margin-right: 2%;
    background-image: url(../images/IMG_2216.jpg);
    background-size: cover;
}

p {
    line-height: 1.25;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    margin-left: 15%;
    width: 70%;
}

.icons img {
    max-height: 3.5rem;
    padding: 1.5%;
}

.main-project-title, .grid-project-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    width: 100%;
    background-color: var(--card-header);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-project-icons, .grid-project-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4px;
}

.main-project-icons img {
    max-height: 1.5rem;
}

.grid-project-icons img  {
    max-height: 1rem;
}

.screenshot-link {
    height: 300px;
    width: 60%;
    background-image: url(../images/screenshots/Screenshot\ 2023-01-17\ at\ 8.17.17\ PM.png);
    background-size: cover;
    border-bottom-left-radius: 10px;
}

.mini-screenshot-link {
    height: 175px;
    width: 60%;
    background-image: url(../images/screenshots/Screenshot\ 2023-02-18\ at\ 7.29.19\ PM.png);
    background-size: cover;
    border-bottom-left-radius: 10px;
}

.mini-screenshot-link-1 {
    height: 175px;
    width: 60%;
    background-image: url(../images/screenshots/Screenshot\ 2023-02-17\ at\ 4.57.15\ PM.png);
    background-size: cover;
    border-bottom-left-radius: 10px;
}

.mini-screenshot-link-2 {
    height: 175px;
    width: 60%;
    background-image: url(../images/screenshots/Screenshot\ 2023-02-12\ at\ 10.06.05\ PM.png);
    background-size: cover;
    border-bottom-left-radius: 10px;
}

.mini-screenshot-link-3 {
    height: 175px;
    width: 60%;
    background-image: url(../images/screenshots/Screenshot\ 2023-02-12\ at\ 10.06.05\ PM.png);
    background-size: cover;
    border-bottom-left-radius: 10px;
}

.screenshot-link:hover, .mini-screenshot-link:hover, .mini-screenshot-link-1:hover, .mini-screenshot-link-2:hover, .mini-screenshot-link-3:hover {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(150 157 152);
}

.grid {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
    grid-row-gap: 4%;
    margin-bottom: 5%;
}

.github-link img {
    max-height: 2.1rem;
}

.grid-github-link img {
    max-height: 1.7rem;
}

.github-link img:hover, .grid-github-link img:hover {
    cursor: pointer;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}

/************ footer styling ************/
footer h2 {
    color: #c1c9c4;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    display: flex;
    justify-content: center;
    width: 25%;
    color: var(--bright);
    font-size: 1rem;
    padding: 1%;
}

footer ul li a {
    text-decoration: none;
    color: var(--bright);
}

footer li a img {
    max-width: 100%;
    max-height: 2rem;
}

footer li a img:hover {
    cursor: pointer;
}







/************ media queries ************/
@media screen and (max-width: 992px) {
    h4 {
        font-size: 1rem;
        padding-right: 2%;
        white-space: nowrap;
    }
    footer ul li {
        font-size: 12px;
    }
  }
  
@media screen and (max-width: 768px) {
    .right-side-col {
        width: 100%;
    }
    h3 {
        font-size: 1.5rem;
        padding-right: 2%;
        white-space: nowrap;
    }
    .icons img {
        max-height: 2.75rem;
    }
    footer ul li {
        font-size: 10px;
    }
  }

@media screen and (max-width: 576px) {
    h4 {
        font-size: 1rem;
        padding-right: 2%;
        white-space: nowrap;
    }
    footer {
        padding-bottom: 5%;
    }
    footer ul li {
        font-size: 12px;
    }
  }

@media screen and (max-width: 455px) {
    h3 {
        font-size: 1.3rem;
        padding-right: 2%;
        white-space: nowrap;
    }
    h4 {
        font-size: .7rem;
        padding-right: 2%;
        white-space: nowrap;
    }
    .mini-card-summary p {
        font-size: 11px;
    }
    .main-project-icons img {
        max-height: 1.75rem;
    }
    .grid-project-icons img  {
        max-height: .75rem;
        padding-right: 1%;
    }
    footer ul li {
        font-size: 10px;
    }
  }

  