:root {
    --firey: rgb(0, 0, 0);
    --spacey: rgb(21, 32, 58);
    --bright: rgb(255, 0, 68);
    --light: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--firey);
    background-color: var(--light);
}

header {
    width: 100%;
    margin: 0%;
}

h1 {
    font-size: 40px;
    margin: 0%;
}

h2 {
    flex: auto;
    font-size: 35px;
    margin-left: 5%;
    padding-bottom: 10px;
    padding-right: 5px;
}

/* both nav bar stylings */
nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: var(--firey);
}

nav li {
    color: var(--bright);
    font-weight: bold;
    padding: 10px;
    padding-left: 2%;
    padding-right: 1%;
}

li a {
    text-decoration: none;
    color: var(--bright);
}

li a:hover {
    background-color: var(--firey);
    color: var(--light);
}

/* banner image */
img {
    height: 200px;
    width: 100%;
    margin-bottom: 2%;
    border-bottom: solid;
    border-width: 38px;
}

/* About Me section styling */
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
}

.about p {
    flex: 3 0 50%;
}



/* Work section styling */
.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
}

.work div {
    flex: 3 0 25%;
    
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.card img {
    height: 225px;
    width: 325px;
    border-radius: 10px;
    border-bottom: none;
}

.card img:hover {
    width: 350px; 
    height: 250px;
    border-style: solid;
    border-width: 5px;   
}



/* Resume section styling */
.resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
    align-items: baseline;
}

.resume p {
    flex: 4 0 25%;
    font-size: 20px;
}



/* Footer styling */
footer {
    height: 4%;
    width: 100%;
}

h4 {
    color: var(--light);
    background-color: var(--firey);
    font-size: 30px;
    text-align: right;
    padding-right: 1%;
    padding-top: 1%;
}








@media screen and (max-width: 1120px) {
    .cards {
      width: 100%;
    }
    .card img {
        height: 275px;
        width: 525px;
        border-radius: 10px;
        border-bottom: none;
    }
    .card img:hover {
        width: 550px; 
        height: 300px;
        border-style: solid;
        border-width: 5px;   
    }
  }


@media screen and (max-width: 992px) {
    .cards {
      width: 100%;
    }
  }
  

@media screen and (max-width: 768px) {
    header {
      background-color: var(--firey);
    }
    h1 {
      color: var(--light);
    }
  }


@media screen and (max-width: 576px) {
    header {
      background-color: var(--bright);
    }
    h1 {
      color: var(--firey);
    }
  }
