:root {
    --firey: rgb(0, 0, 0);
    --spacey: rgb(61, 108, 219);
    --bright: rgb(255, 0, 68);
    --light: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--firey);
    background-color: var(--light);
}

header {
    width: 100%;
    margin-top: 1%;
}

h1 {
    font-size: 40px;
    margin: 1%;
}

h2 {
    flex: auto;
    font-size: 35px;
    margin-left: 5%;
}

/* both nav bar stylings */
nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: var(--firey);
}

nav li {
    color: var(--bright);
    font-weight: bold;
    padding: 10px;
    padding-left: 2%;
    padding-right: 1%;
}

li a {
    text-decoration: none;
    color: var(--bright);
}

li a:hover {
    background-color: var(--firey);
    color: rgb(144, 236, 5);
}

/* banner image */
img {
    height: 200px;
    width: 100%;
    margin-bottom: 2%;
    border-bottom: solid;
    border-width: 36px;
}

/* About Me section styling */
.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
}

.about p {
    flex: 1 0 35%;
}

/* Work section styling */
.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
}

.work div {
    flex: 1 0 30%;
    
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.grid img {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    border-bottom: none;
}

.grid img:hover {
    border-style: solid;
    border-width: 5px;   
}

/* Resume section styling */
.resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5%;
}

.resume p {
    font-size: 40px;
}

/* Footer styling */
footer {
    height: 4%;
    width: 100%;
}

h4 {
    color: var(--light);
    background-color: var(--firey);
    font-size: 30px;
    text-align: right;
    padding-right: 1%;
    padding-top: 1%;
}


/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    .grid {
      width: 50%;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    .grid {
      width: 100%;
    }
  }

