* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(189, 186, 186);
}

/* Header styling */
header {
    background-color: rgb(85, 116, 93);
    height: 100px;
}

h1 {
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(32, 215, 22);   
}

nav {
    float: right;
    margin-right: 2%;
    margin-top: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}

nav ul {
    list-style-type: none;
    padding: 5px;
    margin-top: 2%;
}

nav ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: rgb(223, 239, 76);
    outline: auto;
    outline-color: rgb(15, 168, 56);
    background-color: rgb(18, 174, 70);
}

img {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
}
/* End header styling */



/* About Me section styling */
.about-me-container {
    width: 75%;
    margin-bottom: 5%;
}

.about-me-container h2 {
    display: inline;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-left: 20%;
}

.about-me-container p {
    display: inline-block;
    width: 66%;
    margin-right: 10%;
    margin-left: 50%;
}
/* End About Me styling */



/* Work section styling */
.work-container {
    width: 75%;
    margin-bottom: 5%;
}

.work-container h2 {
    display: inline;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-left: 20%;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50%;
    width: 75%;
}
/* End Work section styling */


/* Contact Me section styling */
.contact-me-container {
    width: 75%;
    margin-bottom: 5%;
}

.contact-me-container h2 {
    display: inline;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-left: 20%;
}

.contact-me-container ul {
    margin-left: 66%;
    width: 66%;
}

.contact-me-container ul li {
    display: inline;
    padding: 25px;
}
/* End Contact Me section styling */

/* Resume Section styling */
.resume-container {
    width: 75%;
    margin-bottom: 5%;
}

.resume-container h2 {
    display: inline;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-left: 20%;
}
/* End Resume section styling */

/* Footer styling */
footer {
    height: 10%;
    width: 100%;
    margin-bottom: 2%;
}

footer h3 {
    color: rgb(1, 1, 62);
    font-size: 14px;
    text-align: center;
}
